body {
    padding: 102px 217px;
}

.row {
    display: flex;
    gap: 100px;
}

.col {
    max-width: 500px;
}

.post__date {
    color: #0094FF;
}

.post__title {
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.input {
    margin: 60px 0 30px 0;
}

.post-title-input,
.post-text-input {
    padding: 10px 20px;
    width: 458px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
}

.post-text-input {
    margin-top: 30px;
    height: 250px;
}

.publication-btn {
    padding: 9px 144px 12px 126px;
    width: 500px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    background-color: #0094FF;
}

.validationMessage {
    margin-top: 20px;
    color: red;
}

.validationMessage_hiden {
    display: none;
}

.post-text {
    padding-top: 50px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    color: #979797;
}